:root {
  --primary-font: 'Lato', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app-wrapper .weather-app {
  margin: 30px auto;
}

.Weather h1 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family:  var(--primary-font);
}

.Form p {
  text-align:center;
  font-size: 13px;
  margin-bottom: 5px;
}

.Form #card-one {
  margin-top: 22px;
}

.Form .icon {
  max-width: 35%;
  display: block;
  margin: 0 auto;
}

.Form .form-control {
  background-color: #facf5a0c;
  font-family:  var(--primary-font);
}

.Form .btn {
  background-color: #facf5a;
  font-family:  var(--primary-font);
}
.Form .current-forecast{
  font-size: 14px;
  font-family:  var(--primary-font);
}

.Form .forecast{
  font-size: 12px;
  font-family:  var(--primary-font);
  text-align: left;
}

.WeatherTemp #unit {
  font-size: 13px;
  font-weight: 500;
  font-family:  var(--primary-font);
}

.WeatherTemp #currenttemp {
  font-size: 20px;
  font-weight: bold;
  font-family:  var(--primary-font);
}

.Form #current-city {
 text-align: left;
 font-family:  var(--primary-font);
}

.Form #current-date {
  text-align: left;
  font-size: 12px;
  font-family:  var(--primary-font);
}

.Form .card-body {
  text-align: center;
  font-family:  var(--primary-font);
}

.Footer p {
  text-align: center;
  font-size: 15px;
  font-family:  var(--primary-font);
}