:root {
  --primary-color: purple;
  --secondary-color: blue;
  --background-color: pink;
  --box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.1);
  --primary-font: 'Lato', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app-wrapper .weather-app {
  margin: 30px auto;
}

.Weather .logo {
  max-width: 20%;
  position: static;
  margin: 0 auto;
  left: auto;
  right: auto;
  display: block;
}

.Weather h1 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 20px;
}

.Form p {
  text-align:center;
  font-size: 12px;
  margin-bottom: 5px;
}


.Form .icon {
  max-width: 20%;
  display: block;
  margin: 0 auto;
  color: #17a2b8;
}

.Form .text-muted {
  font-size: 70%;
}

 .Form .current-forecast{
  font-size: 14px;
  font-family:  var(--primary-font);
 }
.Form #currenttemp {
  font-size: 12px;
  font-weight: 500;
  font-family:  var(--primary-font);
}

.Form #current-city {
 text-align: left;
 font-family:  var(--primary-font);
}
.Form #current-date {
  text-align: left;
  font-size: 12px;
  font-family:  var(--primary-font);
 }
 

.Form .card-body {
  text-align: center;
  font-family:  var(--primary-font);
}

.Footer p {
  text-align: center;
  font-size: 15px;
}

#icontwo {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temp-min {
  opacity: 0.5;
  font-size: 15px;
}

.weather-forecast-temp-max {
  font-size: 15px;
}
.weather-forecast-date {
  font-size: 12px;
}
.weather-forecast-description {
  text-transform: capitalize;
  font-size: 10px;
}
