.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  text-align: center;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app-wrapper .weather-app {
  margin: 30px auto;
}

.logo {
  max-width: 20%;
  position: static;
  margin: 0 auto;
  left: auto;
  right: auto;
  display: block;
}

.container h1 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  text-align: left;
  font-size: small;
}

.icon {
  max-width: 20%;
  display: block;
  margin: 0 auto;
  color: #17a2b8;
}

.text-muted {
  font-size: 70%;
}

#tempone {
  font-size: 15px;
  font-weight: 500;
}
#descriptionone {
  text-transform: capitalize;
}

.card-header {
  padding: 10px 10px;
}
.card-text {
  margin-bottom: 12px;
}
.card-body {
  text-align: center;
}

#icontwo {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temp-min {
  opacity: 0.5;
  font-size: 15px;
}

.weather-forecast-temp-max {
  font-size: 15px;
}
.weather-forecast-date {
  font-size: 12px;
}
.weather-forecast-description {
  text-transform: capitalize;
  font-size: 10px;
}
